* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction:column;
}
body > section {
	flex-basis: 50%;
	display: block;
}
.header {
	padding: 30px;
	text-align: center;
	background: #00AD9F;
	color: white;
	font-size: 30px;
	font-family: Verdana;
  }
form {
	text-align: center;
}
textarea {
	margin: 10vw;
	margin-top: 10vh;
	margin-bottom: 2vh;
	width: 35vw;
	height: 50vh;
	padding: 10px
}
#vykresli {
	display: flex;
    justify-content: center;
	margin: auto;
	background-color: #ff9100; 
	border: none;
	color: white;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	border-radius: 8px;
	vertical-align: middle;
}
#buttony {
	display: block;
	margin: 6vw;
	margin-left: 0px;
	margin-top: 12vh;
}
button {
	margin: 10px;
	background-color: #00AD40; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 30px;
	vertical-align: middle;
}
#tvary {
	display: flex;
	flex-grow: 100;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
	padding-bottom: 20px;
}
#pridaj_tvar {
	background-color: #CCCCCC;
	border-radius: 15px;
}
#Nadpis {
	padding: 20px;
	padding-bottom: 5px;
	font-size: 20px;
	font-family: Verdana;
}
#filtre {
	display: flex;
	flex-grow: 100;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
}
.filter_button {
	margin: 20px;
	background-color: #2CC1D6;
}
#pridaj_filter {
	background-color: #CCCCCC;
	border-radius: 15px;
}
.fn_button {
	margin: auto;
	margin-top: 50px;
	background-color: #ff9100;
	border-radius: 8px;
	font-size: 22px;
	padding: 15px 50px;
}
#clear {
}
#fn_buttony {
	display:flex;
	justify-content: center;
}
#editor {
	display: flex;
}
img {
	width: 50%;
	display: block;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
.footer {
	padding: 50px;
	text-align: center;
	background: #222222;
	color: white;
	font-size: 30px;
	font-family: Verdana;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
  }
  h6 {
	  color: #CCCCCC;
	  font-size: 15px;
  }