* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction:column;
	background-image: url("https://images.pexels.com/photos/1484759/pexels-photo-1484759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
body > section {
	flex-basis: 50%;
	display: block;
}
header {
	padding: 3vh 30px;
	text-align: center;
	background: #00AD9F;
	color: white;
	font-size: 30px;
	font-family: Verdana;
  }
form {
	text-align: center;
}
textarea {
	margin: 6vw;
	margin-top: 10vh;
	margin-bottom: 2vh;
	width: 20vw;
	height: 60vh;
	padding: 10px
}
#vykresli {
	display: flex;
    justify-content: center;
	margin: auto;
	background-color: #ff8800; 
	border: none;
	color: white;
	padding: 15px 70px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	border-radius: 8px;
	vertical-align: middle;
	transition: all 0.5s;
	cursor: pointer;
	width: auto;
	filter: drop-shadow(0px 0px 2px #8a8a8a);
}
#vykresli:active {
	background-color: #ff7300
}
#vykresli:hover {
	background-color:#ff7300;
}
.animate {
	box-shadow: 0px 5px rgb(124, 124, 124);
}
.animate:hover {
	background-color: #009b8e;
	transform: translateY(1px);
	box-shadow: 0px 4px rgb(124, 124, 124);
}
.animate:active {
	background-color: #008075;
	box-shadow: 0 2px #666;
	transform: translateY(4px);
	outline: none;
    border: none;
  }
#undo {
	background-color: #ff8800;
}
#undo:hover {
	background-color: #eb7d00;
}
#undo:active {
	background-color: #d17000;
}
#buttony {
	display: flex;
	flex-direction: column;
	margin: 6vw;
	margin-left: 2vw;
	margin-right: 1vw;
	margin-top: 8vh;
	position: absolute;
	right: 0px;
}
button {
	margin: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #00AD9F;
	border: none;
	color: white;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	border-radius: 30px;
	vertical-align: middle;
	width: 5vw;
}
td {
	width: 6vw;
	justify-content: center;
	vertical-align: middle;
	margin: auto;
	text-align: center;
}
tr {
	width: auto;
}
#choosers {
	margin: auto;
	align-items: flex-start;
}
i {
	display: inline-block;
	text-align: center;
}
#tvary {
	display: grid;
	justify-content: center;
	margin-bottom: 0px;
	padding-bottom: 15px;
}
#colorpicker{
	margin: auto;
	margin-top: 8px;
	align-content: center;
	width: 4vw;
	height: 32px;
	border: none;
}
#colorpicker:hover {
	background: #ff8800;
}
#picker {
	text-align: center;
	padding-left: 5px;
}
#range {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 5vw;
	height: 5px;
	border: none;
	justify-content: center;
}
/*input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #00AD9F;
    margin-top: -4px;
}
input[type=range]::-webkit-slider-progress {
	background: #00AD9F;
}*/
#slider {
	text-align: center;
	padding-right: 5px;
	padding-top: 0;
}
#pridaj_tvar {
	background:
	linear-gradient(63deg, rgb(201, 201, 201) 23%, transparent 23%) 7px 0,
	linear-gradient(63deg, transparent 74%, rgb(201, 201, 201) 78%),
	linear-gradient(63deg, transparent 34%, rgb(201, 201, 201) 38%, rgb(201, 201, 201) 58%, transparent 62%),
	rgb(161, 161, 161);
	background-size: 16px 48px;
	border-radius: 15px;
	width: auto;
	margin: 5px;
	margin-bottom: 15px;
	border: 1px solid #222222;
	float: right;
	filter: drop-shadow(0px 0px 2px #5e5e5e);
}
#Nadpis {
	padding: 0px;
	padding-bottom: 5px;
	padding-top: 10px;
	color:white;
	font-size: 20px;
	font-family: Verdana;
	text-align: center;
	text-shadow: 2px 2px 8px #999999;
	-webkit-text-stroke: 0.5px #222222;
	font-weight: bolder;
}
#filtre {
	display: grid;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 15px;
}
.filter_button {
	background-color: #2CC1D6;
}
#pridaj_filter {
	background-color: #CCCCCC;
	border-radius: 15px;
	right: 0px;
	width: 8vw;
}
.fn_button {
	margin: auto;
	margin-top: 20px;
	background-color: #ff8800;
	border-radius: 8px;
	font-size: 22px;
	padding: 15px 0px;
	width: 80%;
	filter: drop-shadow(0px 0px 2px #8a8a8a);
}
.fn_button:hover {
	background-color:#ff7300;
	transition: 0.5s;
	box-shadow: 0px 0px 8px rgb(146, 146, 146);
}
#fn_buttony {
	display: flex;
	flex-direction: column;
	text-align: right;
}
#editor {
	display: flex;
	margin-bottom: 150px;
}
#image {
	width: calc(57vw - 200px);
	height: calc(60vh + 20px);
	display: block;
	margin-top: 10vh;
	margin-bottom: 4vh;
	background: none;
}
#output{
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: auto;
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: url("filters.svg#inset-outline-1")
    drop-shadow(0px 0px 1px rgb(0, 0, 0));
}
hr {
	color: #222222;
	border: 2px solid #222222;
	width: calc(57vw - 200px) - 4px;
	margin-top: 1vh;
}
#UnderImageLine {
	display: flex;
	align-items: center;
	margin-top: 3.5vh;
}
#hint {
	font-size: 1.5vw;
	color: #222222;
}
#question {
	font-size: 1.7vw;
	margin-left: 10px;
	margin-top: 2px;
	color: #00AD9F;
	filter: drop-shadow(0px 0px 2px #8a8a8a);
}
#question:hover {
	color: #ff8800;
	transition: 0.2s;
}
#HintText {
	display: flex;
	position: absolute;
	left: calc(32vw + 22px);
}
.SmallButton {
	margin: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #ff8800;
	border: none;
	color: white;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	font-size: 1.5vw;
	border-radius: 5px;
	vertical-align: middle;
	width: 3vw;
	filter: drop-shadow(0px 0px 2px #8a8a8a);
}
.SmallButton:hover {
	background-color:#ff7300;
	transition: 0.5s;
	box-shadow: 0px 0px 8px rgb(146, 146, 146);
}
#AspectRatioButtons {
	position: absolute;
	right: calc(100vw - (57vw - 200px) - (32vw + 22px) - 15px);
}
.footer {
	padding: 50px;
	text-align: center;
	background: #222222;
	color: white;
	font-size: 50px;
	font-family: Verdana;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
  }
  h6 {
	  color: #f0f0f0;
	  font-size: 26px;
  }
h2 {
	font-family: arial;
	font-weight: 100;
}
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

  #triangle {
	  font-size: 26px;
	  color: white;
	  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  	  -webkit-text-stroke: 2px white;
  }
  #fill_triangle {
		font-size: 26px;
		color: white;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		-webkit-text-stroke: 3px white;
	}

#download {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: Verdana;
	padding: 20px 100px;
	width: auto;
}
.github {
	font-family: arial;
	color: rgb(218, 218, 218);
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
}
.autor {
	height: auto;
}
.tooltip {
	position: relative;
	display: inline-block;
  }
  .tooltip .tooltiptext {
	visibility: hidden;
	width: auto;
	background-color: #222222;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 1;
	opacity: 0;
	font-family: Verdana;
	top: -12px;
 	left: 140%;
  }
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s;
  }
  .tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%; /* To the left of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
  }
